.hold-epicnt-wrapper
    .user-card-top
        h4 읽은 회차 수
    .user-section
        .hold-epicnt-rank.rank-wrapper
            .hold-item-num(style="width:100%")
                p 전체 누적 읽은 회차 수
                div -
        .get-keep-imgs.s_inv
            img(
                src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode_cnt_01.png`,
                alt=""
            )
            img(
                src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode_cnt_02.png`,
                alt=""
            )
            img(
                src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode_cnt_03.png`,
                alt=""
            )
            img(
                src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode_cnt_04.png`,
                alt=""
            )
            img(
                src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode_cnt_05.gif`,
                alt=""
            )
