.hold-keep-wrapper
    .user-card-top
        h4 소장
        button.top-setting-btn(type="button") 소장함
    .user-section
        .hold-keep-rank.rank-wrapper
            img.s_inv(
                src = G_CDN_DOMAIN_IMG +
                "/img/new/user_profile/rank_medal_icon.png"
            )
            .user-rank
                p 소장 랭킹
                div -
        .deco-bar
        .hold-item-num
            p 전체 소장 회차
            div -
        .get-keep-imgs.s_inv
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode1.svg`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode2.svg`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode3.svg`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode4.svg`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/episode5.svg`, alt="")