.hold-emo-wrapper
    +userCardTop("보유 중인 이모티콘", "이모티콘 관리")
    .user-section
        .hold-emo-rank.rank-wrapper
            mixin rank(rankType, stockType)
                img.s_inv(src=`${profilePath}/rank_medal_icon.png`)
                .user-rank
                    p=`${rankType}랭킹`
                    div -
                .deco-bar
                .hold-item-num
                    p=`전체 ${stockType}`
                    div -
            +rank("이모티콘 보유", "보유 이모티콘")
        .get-emo-num
            mixin getEmoWrapper(emojiName, emojiType)
                .get-emo-wrapper
                    img.s_inv(src=`${iconSrc}/${emojiName}.png` alt="")
                    p=emojiType
                    p -
            +getEmoWrapper("emt_novel1", "이모티콘")
            +getEmoWrapper("emt_pia1", "노벨피아 이모티콘")